* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-animate {
    font-size: 25px;
    animation: text 2s ease-out infinite;
}

@keyframes text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}