<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;700&display=swap"
    />
  </head>
  <body>
    <div class="features-9-parent">
      <div class="features-9">
        <div class="bg"></div>
        <div class="list">
          <div class="div">
            <b class="support">Support</b>
            <div class="lorem-ipsum-dolor">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img
              class="headphones-3-1-icon"
              alt=""
              src="./public/headphones3-1.svg"
            />
          </div>
          <div class="div1">
            <b class="product">Product</b>
            <div class="lorem-ipsum-dolor1">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img
              class="archive-content-1-icon"
              alt=""
              src="./public/archivecontent-1.svg"
            />
          </div>
          <div class="div2">
            <b class="sales">Sales</b>
            <div class="lorem-ipsum-dolor2">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img
              class="headphones-3-1-icon"
              alt=""
              src="./public/chartbar33-1.svg"
            />
          </div>
          <div class="div3">
            <b class="product">Quality</b>
            <div class="lorem-ipsum-dolor1">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img
              class="folder-favorite-1-icon"
              alt=""
              src="./public/folderfavorite-1.svg"
            />
          </div>
          <div class="div4">
            <b class="onboarding">Onboarding</b>
            <div class="lorem-ipsum-dolor4">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img class="board-2-1-icon" alt="" src="./public/board2-1.svg" />
          </div>
          <div class="div5">
            <b class="support">Result</b>
            <div class="lorem-ipsum-dolor">
              Lorem ipsum dolor sit amet, consectetur adipis elit. Sit enim nec,
              proin faucibus nibh et sagittis a. Lacinia purus ac amet.
            </div>
            <img class="chart-3-1-icon" alt="" src="./public/chart3-1.svg" />
          </div>
          <img class="lines-icon" alt="" src="./public/lines.svg" />
        </div>
        <div class="content">
          <b class="make-every-step">Make every step user-centric</b>
          <div class="lorem-ipsum-dolor6">
            Lorem ipsum dolor sit amet, consectetur adipis elit
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
